/* Base Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* ---------------------------------------------------------------------*/

/*-----------
 Utilities
---------- */
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
}
header{
    margin-bottom: 70px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-button :hover{
    background: #E02C6D;
    box-shadow: 0 0 80px #2196f3, 0 0 80px #2196f3, 0 0 80px #2196f3;
    font-size: 1em;
    transition: transform 0.8s ease;
    transition: 0.8s;
}
.link-button{
    width: 168px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    margin-left:  156px;
    border: none;


}
.link-button a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    transform: translate(15px);
}
.fa-arrow-right{
    margin: 0px 8px;
}

/* banner style */
.header-title{
    height: 677px;
    background: #2D25A0;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-column-gap: 150px;
}
.copa-america{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.event-title{
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 156px;
    
}
.copa-america img:hover{
    transition:transform 1s;
}
.copa-america img{
    width: 556.01px;
    height: 438px;
    padding-right: 140.99px;
    padding-left: 170px;

}
/* banner style end */

/* ---------------
  Players bio start
------------------ */
.conatiner{
    width: 1050px;
    height: 474px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 27px;
}
.player{
    width: 300px;
    height: 426px;
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-name h2{
    font-size: 28px;
    color: #18191F;
}
.thumbnail img{
    width: 300px;
    height: 256px;
}
.player-name p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/* players bio end */

/* <!-- Highlights Part Start --> */
.highlights-container{
    display: grid;
    grid-template-columns: none;
}
.hl-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 138px 0 158px 0;
}
.highlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    width: 469px;
    height: 300px;
    background: white;
}
.title{
    font-size: 48px;
    color: #0A0826;
}
.highlight p{
    font-size: 16px;
    color: #6C6C6C
}
.highlight .link-button{
    margin: 0;
}
.banner img{
    width: 567px;
    height: 427px;
    padding-left: 90px;
}
/* Highlights Part End */

/* News section start */
a{
    color: #fff;
    text-decoration: none;
}
.containers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;
    color: #fff;
    overflow: hidden;
}
.ticker{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 60px;
    margin: 0 auto;
}
.news{
    width: 76%;
    background: #cc4444;
    padding: 0 2%;
}
.ticker-title{
    width: 20%;
    text-align: center;
    color: #fff;
    background: #c81c1c;
    position: relative;
}
.ticker-title:after{
    position: absolute;
    content: "";
    right: -16%;
    border-left: 20px solid #c81c1c;
    border-top: 33px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 33px solid transparent;
    top: 0;

}
.ticker-title h5{
    font-size: 18px;
    margin: 8% 0;

}
.news marquee{
    font-size: 18px;
}
/* News Section end */

/* footer start */
footer{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 51px;
}
.footer-img img{
    width: 481px;
    height: 110px;
}
.social-icon{
    width: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: gray;
    padding: 0 0 20px 180px ;
    margin-left: 20px;
}
footer div p{
    font-size: 18px;
    color: #000000;
    padding: 0 0 0 130px;
    margin-left: 15px;
}
/* footer end */

/* media queries */

@media only screen and (max-width: 668px) {
    .hl-container, .player-container, .container, .footer-half, .containers{
        width: 100%;
    }
    .hl-container, .container, .player-container, .footer-half{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }
    .hl-container, .player, .footer-half{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-img img{
        width: 100%;
    }
    .header-title, .players, .footer-half, .containers{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-container{
        display: none;
    }
    
}

@media only screen and (min-width:689px) and (max-width:1024px) {
    .hl-container, .player-container, .container, .footer-half, .containers{
        width: 100%;
    }
    .hl-container, .container, .player-container, .footer-half, .containers{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }
    .hl-container, .player, .footer-half, .containers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-title, .players, .footer-half, .containers{
        grid-template-columns: repeat(2, 1fr);
    }
}